{% extends "base.html" %}
{% block content %}
<!--何をする画面なのか表示-->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">商品登録</span>
    </div>
</nav>

{% if error_message != "" %}
<!--不正な入力があったらnavbarの下に赤字で表示する-->
<!--https://getbootstrap.jp/docs/5.0/components/alerts/-->
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
        class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16">
        <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </svg>
    <div>
        {{error_message}}
    </div>
</div>
{% endif %}

<div class="container">
    <form method="POST">
        <!--入力フォームの部分-->
        <div class="mb-3">
            <label for="purchase_date" class="form-label">購入した日付</label>
            <input type="date" class="form-control" name="purchase_date" id="purchase_date">
        </div>
        <div class="form-group mb-3">
            <label for="service_name" class="form-label">購入したサービス</label>
            <div class="input-group">
                <select class="form-control" name="service_name" id="service_name">
                    {% for service in service_detail_list %}
                    <option>{{service.service_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="mb-3">
            <label for="item_name" class="form-label">商品名</label>
            <input type="text" class="form-control" name="item_name" id="item_name" aria-describedby="emailHelp"
                placeholder="aaa">
        </div>
        <div class="mb-3">
            <label for="item_price" class="form-label">値段</label>
            <input type="number" class="form-control" name="item_price" id="item_price" placeholder="1000" min="1">
        </div>
        <div class="form-group mb-3">
            <label for="item_attribute" class="form-label">属性</label>
            <div class="input-group">
                <select class="form-control" name="item_attribute" id="item_attribute">
                    <option>CG・イラスト</option>
                    <option>ボイス・ASMR</option>
                    <option>動画作品</option>
                    <option>ゲーム</option>
                    <option>音楽作品</option>
                </select>
            </div>
        </div>

        <!--登録ボタン-->
        <button type="submit" class="btn btn-primary">登録</button>
    </form>
</div>
{% endblock %}