{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">新規サービス登録</span>
    </div>
</nav>

<div class="container">
    <form method="POST">
        <div class="mb-3">
            <label for="service_name" class="form-label">サービス名</label>
            <input type="text" class="form-control" name="service_name" id="service_name" aria-describedby="emailHelp"
                placeholder="Amazon">
        </div>
        <div class="mb-3">
            <label for="upper_limit" class="form-label">使用上限金額</label>
            <input type="number" name="upper_limit" class="form-control" id="upper_limit" placeholder="5000">
        </div>

        <button type="submit" class="btn btn-primary">登録</button>
    </form>
</div>
{% endblock %}